/*signin page*/

.signin-bg {
    background-image: url('images/signin-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 680px;
}

.center-div {
    float: none;
    margin: 0px auto;
}

.what-healthtree h2 {
    font-weight: 400;
    font-size: 30px;
}

.what-healthtree p {
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;
}

.what-healthtree span {
    font-size: 12px;
}

.what-healthtree span i {
    font-size: 10px;
}
