
.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}
/*Main Css*/
body{margin:0px; padding:0px; font-family: 'Asap', sans-serif; font-size:16px; font-weight:400;}
body, html, #root, .App{height:100%;}
a, img{border:0px; outline:none;}
h1, h2, h3, h4, h5, h6, p{margin:0px; padding:0px;}
ul, li{list-style:none; margin:0px; padding:0px;}